$base-font-size: 16px;
$base-line-height: 24px;
$base-size: $base-font-size;
$ratio: major-third();

$sans-serif-font-family: 'Exo', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$serif-font-family: 'Fenix', Georgia, 'Times New Roman', Times, serif;


