- if Refinery::I18n.enabled && (locales ||= Refinery::I18n.frontend_locales).present? && locales.many?
  %ul.locales
    - locales.each do |locale|
      %li
        = link_to refinery_icon_tag("flags/#{locale}.png", :size => '16x11'), "/#{locale}", :title => Refinery::I18n.locales[locale]
