@import 'compass/typography/lists/inline-block-list';
@import 'compass/typography/vertical_rhythm';
@import 'compass/typography/links/unstyled-link';

nav {
  @include margin-leader(3);
  ul {
    @include inline-block-list;
    li {
      width: 24%;
      border-right-width: 2px;
      margin-left: 0;
      padding-left: 0;
      &:last-child {
        border-right-width: 0;
      }
      a {
        @include unstyled-link;
        text-align: center;
        display: block;
        font-family: $sans-serif-font-family;
        color: #ccc;
        background: #111;
        @include rhythm(0,.5,.5,0);
        &:visited {
        }
        &:hover {
          @include leading-border(5px, .5);
          text-decoration: none;
        }
      }
    }
  }
}
